<div id="task">
	<h2 class="col-md-12 text-center"> My TODO List <h2>
	<h4> Hello, {{data.nickname}}, these are your tasks </h4> 


<div class="col-md-12">
	<div class="col-sm-3 panel-group"  ng-repeat="t in tasks">
		<div class="panel panel-warning">
			<div class="panel-heading">
				{{t.item}} 
				<button class="btn btn-danger" ng-click="removeTask(t.instanceTime,t.email)" style="margin-left: 80px;"> delete </button>
			</div>
		    <div class="panel-body">
				<bold>{{t.instanceTime * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</bold>
	            <bold>isCheck? {{t.ischeck}}</bold>
		    </div>
		</div>
	</div>
</div>




<h4  class="col-md-12 "> insert new task: </h4>

<form class="register-form col-md-12" name="myForm">
	<div class="input">
		<input type="text" ng-model="item" placeholder="Describe Task" required>
	</div>
	<div class="input">
		 <input type="checkbox" name="status" ng-model="status"> is task complete?
	</div>

<div class="input">
		<button ng-click="addTask()" ng-disabled="myForm.$invalid">Add Task</button>
</div>

</form>